// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.auto-style1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: xx-large;
  color: #000080;
  text-decoration: underline;
  text-align: center;
}

.newStyle1 {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
}
