// Place all the styles related to the Verbs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.divstyle {
  border: solid thin #ff29c5;
}

.tablestyle {
  border: none thin #0000ff;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 14pt;
  color: #000000;
}

.tableheadingstyle {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 14pt;
  color: #ff0000;
  border: none thin #40ff2a;
}
